<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy/MM/dd-HH:mm:ss.SSS} %level [%thread] %class:%line>>%msg%n</pattern>
        </encoder>
    </appender>


    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/export/Logs/try/all.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                /export/Logs/try/all.%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <!-- keep 30 days worth of history -->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} -%msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.jd" additivity="true">
        <level value="${log.level}" />
        <appender-ref ref="stdout"/>
    </logger>

    <root level="${log.level}">
        <appender-ref ref="logfile"/>
    </root>
</configuration>